div
    md-toolbar
        .md-toolbar-tools
            h2 
                span(ng-if='!id.Issue.Title') {{$parent.sr.Series.Name}} - {{id.Issue.Number}}
                span(ng-if='id.Issue.Title') {{id.Issue.Title}}
            span(flex)
            md-button.md-icon-button(ng-click='id.linkIssue($event)')
                i.fa.fa-link.fa-fw
            md-button.md-raised.text-center(ng-click='id.getMetadata()', style='width: 130px;', ng-if='id.Issue.FilePath') 
                span(ng-if='!id.LoadingMetadata') Load Metadata
                md-progress-circular(md-mode='indeterminate', md-diameter='25px', style='margin: auto', ng-if='id.LoadingMetadata')
            md-button(ng-click='id.open($event)', ng-if='id.Issue.FilePath') Open

    md-content(flex, layout-padding)
        .container-fluid
            .row(ng-if='id.Issue.FilePath === undefined')
                .col-md-12
                    h3 To begin, link to a file
            .row
                .col-md-6
                    .row
                        .col-md-12
                            span.text-muted {{id.getMonth(id.Issue.Month)}} {{id.Issue.Year}}
                    .row.top-buffer(ng-if='id.Issue.Summary !== undefined')
                        .col-md-12
                            p {{id.Issue.Summary}}
                    .row(ng-if='id.Issue.Characters !== undefined')
                        .col-md-12
                            legend Characters
                            div {{id.Issue.Characters}}
                    .row.top-buffer(ng-if='id.Issue.Teams !== undefined')
                        .col-md-12
                            legend Teams
                            div {{id.Issue.Teams}}
                    .row.top-buffer(ng-if='id.Issue.Locations !== undefined')
                        .col-md-12
                            legend Locations
                            div {{id.Issue.Locations}}
                
                .col-md-6
                    small {{id.Issue.FilePath}}
                    md-card(ng-if='id.Issue.FilePath !== undefined')
                        md-card-content.text-center
                            img(ng-src='{{id.getCoverUrl()}}', style='height: 550px')