md-dialog(flex='50')
    md-toolbar
        .md-toolbar-tools
            h2 Link Series to Folder
    md-dialog-content
        .md-dialog-content(layout='column', flex)
            md-input-container.md-block.skinny
                label File Path:
                input(ng-model='ls.FilePath', style='margin-bottom: 10px')
            div
                span(flex)
                md-button.pull-right(ng-click='ls.scanFolder()', ng-disabled='ls.FilePath === ""', flex) Scan Folder
            div.scroll-window
                md-list
                    md-list-item(ng-repeat='f in ls.Files', ng-class='{"nav-active": ls.SelectedFile == f}', ng-click='ls.SelectedFile = f')
                        p {{f}}

    md-dialog-actions(layout='row')
        md-button.md-raised(ng-click="ls.cancel()") Cancel
        md-button.md-raised.md-primary(ng-click="ls.link()", ng-disabled='ls.SelectedFile === ""') Link