.modal-header
	h2 Parse Series
.modal-body
	.container-fluid
		.row
			div(ng-class='ps.getWidthClass()')
				form.form-horizontal
					.form-group
						label Series Name: 
						input.form-control(type="text", ng-model="ps.issues.Title")

					.form-group
						label Volume:
						input.form-control(type="text", ng-model="ps.issues.Volume")

					.form-group
						label Volume Type:
						input.form-control(type="text", ng-model="ps.issues.VolumeType")

					.form-group
						label First Issue:
						input.form-control(type="text", ng-model="ps.issues.First")

					.form-group
						label Last Issue:
						input.form-control(type="text", ng-model="ps.issues.Last")

					.form-group
						label Start Date:
						.row
							.col-md-6
								select.form-control(ng-options='opt for opt in ps.Months track by opt', ng-model='ps.StartMonth')
							.col-md-6
								select.form-control(ng-options='opt for opt in ps.Years track by opt', ng-model='ps.StartYear')

					.form-group
						label End Date:
						.row
							.col-md-6
								select.form-control(ng-options='opt for opt in ps.Months track by opt', ng-model='ps.EndMonth')
							.col-md-6
								select.form-control(ng-options='opt for opt in ps.Years track by opt', ng-model='ps.EndYear')
			
			.col-md-6(ng-if='ps.publication !== null')
				div
					h4 {{ps.publication.Title}}
				div
					label Series: 
					span {{ps.publication.Series}}
				div
					label Issues: 
					span {{ps.publication.Issues}}
				div
					label Dates: 
					span {{ps.publication.Dates}}
				div
					label Notes: 
					span {{ps.publication.Notes}}

.modal-footer
	button.btn.btn-default(ng-click="ps.cancel()") Cancel
	button.btn.btn-primary(ng-click="ps.parse()") Parse