.modal-body
	form
		.form-group
			label First Issue
				input.form-control(type="text", ng-model="ps.issues.First")

			.form-group
				label Last Issue
					input.form-control(type="text", ng-model="ps.issues.Last")
		div
			b Issue Text: {{ps.issuesText}}

.modal-footer
	button.btn.btn-default(ng-click="ps.cancel()") Cancel
	button.btn.btn-primary Parse