div
    .navbar.navbar-default
        .container-fluid
            nav
                ul.pagination.pull-left
                    li(ng-repeat='i in ck.Indexes track by $index', ng-class="{active: ck.Index == $index}")
                        a(ui-sref='publications({sort:i})') {{i}}
            form.navbar-form.navbar-left.pull-right
                .form-group
                    input(type='text', class='form-control', placeholder='Search', ng-model='ck.SearchParams.SearchText')
                button(class='btn btn-default', type='submit', ng-click='ck.search()')
                    i.fa.fa-search

    .progress(ng-if='ck.Loading')
        .progress-bar.progress-bar-striped.active(style='width: 100%')

    
    .row(ng-if='ck.SearchParams.SearchText !== "" && !ck.Loading')
        .col-md-12.text-center
            div No Search Results Found!

    table.table(ng-if='!ck.Loading && ck.Publications.length > 0')
        thead
            tr
                th
                th Title
                th Series
                th Issues
                th Dates
                th Notes
                th 
        tbody
                tr(ng-repeat='r in ck.Publications', ng-class='ck.FlagAsOwned(r)')
                    td(width='100')
                        .btn-toolbar
                            .btn-group
                                button.btn.btn-danger.btn-xs(ng-click='ck.Remove(r)')
                                    i.fa.fa-trash-o
                                button.btn.btn-success.btn-xs(ng-click='ck.MarkAsOwned(r)', ng-if='!r.Owned')
                                    i.fa.fa-check
                                button.btn.btn-info.btn-xs(ng-click='ck.MarkAsOwned(r)', ng-if='r.Owned')
                                    i(class='fa fa-ban')
                    td 
                        span {{r.Title}}
                        .btn-toolbar.pull-right
                            .btn-group
                                a.btn.btn-default.btn-xs.pull-right(ng-href='{{ck.BuildCvSearchUrl(r)}}', target='_blank') CV
                                a.btn.btn-default.btn-xs.pull-right(ng-href='{{ck.BuildDcSearchUrl(r)}}', target='_blank') DC
                    td {{r.Series}}
                    td {{r.Issues}}
                    td {{r.Dates}}
                    td {{r.Notes}}
                    td
                        md-button.md-raised.md-mini(ng-click='ck.ParseSeries(r, $event)') Parse Series