.div(ng-controller='seriesDetailsCtrl as sr')
    md-content#series-header
        md-toolbar.md-hue-2
            .md-toolbar-tools(ng-if='!sr.LoadingSeries')
                md-button.md-fab.md-primary.md-mini(hide-gt-md, ng-click='sr.toggleIssues()')
                    i.fa.fa-bars
                div(layout='column')
                    .md-headline(flex) 
                        span {{sr.Series.Name}} 
                        span.xs-small(ng-if='sr.Series.Volume') Vol. {{sr.Series.Volume}}
                    .md-subhead(flex) Dates: {{sr.Series.StartDate | date: 'MM/yyyy'}} - {{sr.Series.EndDate | date: 'MM/yyyy'}}
                span(flex)
                //- .btn-group
                //-     a.btn.btn-primary(ng-click='sr.linkSeries()', md-ink-ripple)
                //-         i.fa.fa-link.fa-fw
                //-     a.btn.btn-danger(ng-click='sr.deleteSeries($event)', md-ink-ripple)
                //-         i.fa.fa-trash-o.fa-fw
                md-button.md-icon-button(ng-click='sr.previousSeries($event)')
                    md-tooltip(md-direction='top') Previous Volume
                    i.fa.fa-arrow-left
                md-button.md-icon-button(ng-click='sr.nextSeries($event)')
                    md-tooltip(md-direction='top') Next Volume
                    i.fa.fa-arrow-right
                md-fab-speed-dial.md-scale(md-direction='left')
                    md-fab-trigger
                        md-button.md-fab.md-mini
                            i.fa.fa-bars
                    md-fab-actions(style='width: 0px')
                        md-button.md-fab.md-raised.md-mini.md-accent(ng-click='sr.mergeSeries($event)')
                            md-tooltip(md-direction='top') Merge With Series
                            i.fa.fa-compress
                        md-button.md-fab.md-raised.md-mini.md-primary(ng-click='sr.linkSeries($event)')
                            md-tooltip(md-direction='top') Link To Folder
                            i.fa.fa-link.fa-fw
                        md-button.md-fab.md-raised.md-mini.md-warn(ng-click='sr.deleteSeries($event)')
                            md-tooltip(md-direction='top') Delete Series
                            i.fa.fa-trash-o.fa-fw

    md-progress-linear(md-mode='query', ng-if='sr.LoadingSeries')
    section(layout='row', ng-if='!sr.LoadingSeries')
        md-sidenav.md-sidenav-left(md-component-id="left", md-is-locked-open="$mdMedia('gt-md')", md-whiteframe="4", style='overflow: auto', remaining-height)
           md-content
                md-toolbar.md-accent.md-hue-3(style="position: fixed;")
                    .md-toolbar-tools
                        md-button(ng-click='sr.toggleEditMode()') {{sr.getEditBtnText()}}
                md-list(style="margin-top: 64px")
                    md-list-item(ng-class='sr.getActive(issue._id)', ng-click='sr.goToIssue(issue)', ng-repeat='issue in sr.Series.Issues')
                        p
                            md-checkbox.md-primary(ng-if='sr.EditMode', ng-checked="sr.SelectedIssues.indexOf(issue) > -1", ng-click='sr.goToIssue(issue)')
                            span {{sr.Series.Name}} - {{issue.Number}}
                        i.fa.fa-link.fa-fw.pull-right(ng-if='issue.FilePath !== undefined')

        md-content(flex)
            ui-view