.div(ng-controller='seriesDetailsCtrl as sr')
    .well
        h2 {{sr.Series.Name}}
        .row
            .col-md-10 
                label Dates: {{sr.Series.StartDate | date: 'MM/yyyy'}} - {{sr.Series.EndDate | date: 'MM/yyyy'}}
            .col-md-2
                .btn-group.pull-right
                    a.btn.btn-primary(ng-click='sr.linkSeries()')
                        i.fa.fa-link.fa-fw
                    a.btn.btn-danger(ng-click='sr.deleteSeries($event)')
                        i.fa.fa-trash-o.fa-fw

    .row
        .col-sm-2
            ul.nav.nav-pills.nav-stacked
                li(ng-repeat='issue in sr.Series.Issues', ui-sref-active='active')
                    a(ui-sref='.Issue({issueId: issue._id})') 
                        span {{sr.Series.Name}} - {{issue.Number}}
                        i.fa.fa-link.fa-fw.pull-right(ng-if='issue.FilePath !== undefined')
        .col-sm-10
            ui-view