doctype html
html(ng-app='checklist')
  head
    title DC Checklist
    link(rel='stylesheet', href='/dist/css/style.css')
    link(rel='stylesheet', href='/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/fontawesome/css/font-awesome.css')
    //- link(rel='stylesheet', href='/bower_components/angular-bootstrap/ui-bootstrap-csp.css')

    script(src='/node_modules/')
    script(src='/dist/js/bundle.js')
  body
    .container-fluid
      .header.clearfix
        nav
          .nav.nav-pills.pull-right
            li
              a(href='#') Publications
            li
              a(href='#') Series
            li
              a(href='#') Collection

        h3(class='text-muted') DC Checklist

      block content
