<div class="modal-body">
    <form action="">
        <div class="form-group">
            <label for="">First Issue</label>
            <input type="text" class="form-control" ng-model="issues.first">
        </div>
        <div class="form-group">
            <label for="">Last Issue</label>
            <input type="text" class="form-control" ng-model="issues.last">
        </div>
    </form>
    <div>
        <b>Issue Text:</b> {{ps.issuesText}}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ps.cancel()">Cancel</button>
    <button class="btn btn-primary">Parse</button>
</div> 